<portic-base>
  <div class="tab">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink (click)="onTerminalesChanged($event)">Terminales</a>
          <ng-template ngbNavContent>
            <div class="content p-3">
              <app-selector #terminales [table_header]="['Codigo','Nombre']">

              </app-selector>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Consignatarios</a>
          <ng-template ngbNavContent>
            <div class="content p-3">
              <app-selector #consignatarios [table_header]="['Nombre','Ciudad']">
              </app-selector>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink>Líneas Marítimas</a>
          <ng-template ngbNavContent>
              <div class="content p-3">
                <app-selector #lineas_maritimas [table_header]="['Codigo','Nombre']">
                </app-selector>
              </div>
          </ng-template>
          </li>
          <li [ngbNavItem]="4">
            <a ngbNavLink>Marcas Rodados</a>
            <ng-template ngbNavContent>
                <div class="content p-3">
                  <app-selector #marcas_rodados [table_header]="['Codigo','Nombre']">
                  </app-selector>
                </div>
            </ng-template>
          </li>
      </ul>        
      <div [ngbNavOutlet]="nav"></div>
  </div>
</portic-base>







  

