<div class="d-flex justify-content-center align-items-center w-100 h-100">
  <div class="h-75 w-40">

    <div class="search d-flex">
      <input type="text" class="form-control mr-2" placeholder="Nombre">
      <button type="button" class="btn" (click)="onSearch($event)">Buscar</button>
    </div>    
    <app-table #tbl_candidate [table_header]="table_header"></app-table>

  </div>
  <div class="tools">
    <button type="button" class="btn" (click)="onCandidate2Selected($event)"> > </button>
    <button type="button" class="btn mt-2" (click)="onSelected2Candidate($event)"> < </button>
    <button type="button" class="btn mt-2" (click)="onAllCandidate2Selected($event)"> >> </button>
    <button type="button" class="btn mt-2" (click)="onAllSelected2Candidate($event)"> << </button>
  </div>
  <div class="h-75 w-40">

    <div class="search d-flex align-items-center">Seleccionadas</div>
    <app-table #tbl_selected [table_header]="table_header" [min_rows_table]="min_rows_table">      
    </app-table>

  </div>
</div>