<div style="display: flex; justify-content: center; align-items:center" class="w-100 h-100">
  <div style="width: 30%; height: 75%">

    <div class="search d-flex" style="height: 40px">
      <input type="text" class="form-control mr-2" placeholder="Nombre">
      <button type="button" class="btn" (click)="onSearch($event)">Buscar</button>
    </div>    
    <div class="item-list w-100 h-100 mt-2">
      <table class="item-table w-100">
        <tr class="title">
          <th *ngFor="let header of table_header">{{header}}</th>
        </tr>
        <tr *ngFor="let data of table_data" class="body">
            <td>{{data.code}}</td>
            <td>{{data.name}}</td>
        </tr>
      </table>
    </div>

  </div>
  <div class="tools" style="padding-top: 100px">
    <button type="button" class="btn"> > </button>
    <button type="button" class="btn mt-2"> < </button>
    <button type="button" class="btn mt-2"> >> </button>
    <button type="button" class="btn mt-2"> << </button>
  </div>
  <div style="width: 30%; height: 75%">

    <div class="d-flex align-items-center" style="height: 40px">Seleccionadas</div>
    <div class="item-list w-100 h-100 mt-2" style="overflow:auto;">
      <table class="item-table w-100">
        <tr class="title">
          <th *ngFor="let header of table_header">{{header}}</th>
        </tr>
        <tr *ngFor="let data of table_selected_data" class="body">
            <td>{{data.code}}</td>
            <td>{{data.name}}</td>
        </tr>
      </table>
    </div>

  </div>
</div>