
$btn-background: purple;
$btn-hover: #922492;
$btn-active: #6D006D;
$btn-font: white;

$border: purple;
$font-color: purple;
$background: #c68cc6;
$tool-background-hover: #ECDAEC;
$tool-background-active: #A978A9;
$table-header-background: #c68cc6;
$table-data-background: #ECDAEC;