@import "styles";
@import "variables";


/* Filtering */
.filtering {
  background: $background; 
  display: flex; 
  align-items: center;
  font-size: 0.8rem;

  .container {
    display: flex; 
    align-content: center;
  }
  .btn {
    @include portic-btn
  }
}



/* Tool */
.doc-tool{
  @include portic-doc-tool
}



