@import "styles";
@import "variables";


/* Filtering */
.filtering {
  background: $background; 
  display: flex; 
  align-items: center;
  font-size: 0.8rem;

  .container {
    display: flex; 
    align-content: center;
  }
  .btn {
    font-size: 0.8rem;
    border: 0px; 
    border-radius: 5px; 
    color: $btn-font;
    padding: 0.7em 1em 0.7em 1em;
    background: $btn-background;
    @include portic-bold-mixin;
    outline: none;
    box-shadow: none;    
    &:hover{
      background: $btn-hover;  
    }
    &:active{
      background: $btn-active;
    }
  }
}



/* Tool */
.doc-tool{
  border: 1px solid $border; 
  padding: 0.3em; 
  display: flex; 
  justify-content: space-between;

  .tool{
    font-size: 0.8rem;
    border: 0px; 
    border-radius: 5px; 
    color: $font-color;
    padding: 0.7em 1em 0.7em 1em;
    outline: none;
    box-shadow: none;  
    @include portic-bold-mixin;
    &:hover{
      background: $tool-background-hover;    
    }
    &:active{
      color: white;
      background: $tool-background-active;      
    }
  }
  .disabled{
    color: grey;
    background: transparent;
    cursor: initial;
    &:hover{
      color: grey;
      background: transparent;
      cursor: initial;
    }
  }
}


/* Table */
.doc-list {
  .doc-table {
    border-spacing: 0;
    border-collapse: separate;
    text-align: center;
    font-size: 12px;
    border: 1px solid $border;

    .title{
      color: $font-color;
      @include portic-bold-mixin;
      background: $table-header-background;
      /*#800080,#922492,#A448A4,#B66DB6,#C891C8,#DAB6DA,#ECDAEC*/      
      th {
        border: 1px solid $border;
        @include portic-bold-mixin;        
      }
    }

    .body{
      color: black; 
      td {
        border-left: 1px solid $border;
        border-right: 1px solid $border;
        height: 22px;
      }
    }

    // Apply colors to rows
    tr:nth-child(even){
      background: $table-data-background;
    }
  }
}


