<portic-base>
    <div class="tab">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Datos Generales</a>
            <ng-template ngbNavContent>
              <div class="content p-3">
                <p>Lista de Carga</p>
                <document class="w-100" [type]="'descarga'"></document>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Contenedores</a>
            <ng-template ngbNavContent>
              <div class="content p-3">
                <container-list></container-list>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink>Rodados</a>
            <ng-template ngbNavContent>
                <div class="content p-3">
                    <rodado-list></rodado-list>
                </div>
            </ng-template>
            </li>
        </ul>        
        <div [ngbNavOutlet]="nav"></div>
    </div>
  </portic-base>
  
  
  
  
  
  
  
    
  
  