

<div class="w-100 toolbar"> 
  
  <div> PORTIC LOGO </div>
  <div> <b>Usuario:</b> {{user}}</div>
  <div> <b>Empresa:</b> {{company}}</div>
  <div> <b>Inicio Sesión:</b>{{session_init}}</div>

  <div style="display: flex; justify-content: space-between">

    <button mat-button (click)="onClickMe()" class="toolbar-button">
      <fa-icon [icon]="faExclamation" (click)="onClickMe()"></fa-icon>
    </button>    
    <button mat-button (click)="onClickMe()" class="toolbar-button">
      <fa-icon [icon]="faWrench" (click)="onClickMe()"></fa-icon>
    </button>
    <button mat-button (click)="openDialog()" class="toolbar-button">
      <fa-icon [icon]="faGraduationCap" (click)="onClickMe()"></fa-icon>
    </button>

  </div>
</div>

<div style="padding: 10px" class="main-menu">

  <div class="w-100 mt-3" style="display: flex">
    <div class="container">
      <a mat-stroked-button routerLink="." class="button">Lista de Documentos</a>
    </div>
    <div class="container">
      <a mat-stroked-button routerLink="." class="button">Nueva Lista de Carga</a>
    </div>
    
    <div class="container">
      <a mat-stroked-button routerLink="." class="button">Nueva Lista de Descarga</a>
    </div>

    <div class="container" style="border: 0px">
      <a mat-stroked-button routerLink="." class="button">Preferencias</a>
    </div>
  </div>


  <ng-content></ng-content>

</div>


