<style>

.full-width {
  width: 100%;
  margin-top: 1em;
}
/* Toolbar */
.toolbar {
  height: 3em; 
  background-color:purple; 
  display:flex; 
  color: white; 
  align-items: center;
  justify-content: space-between
}
.toolbar-button:hover {
  border: 1px solid grey;
}

/* Main Menu */
.main-menu-button {
  margin-right: 5px; 
  border: 0px;
  color: purple;
}
.main-menu-button:hover {
  background: #ECDAEC;
  
}
.main-menu-container-button{
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid purple;
}


/* Tool */
.filter-tool {
  color: purple;  
  background: #c68cc6;
  border-color: purple;  
}
/* Table */
.doc-table {
  border-spacing: 0;
  border-collapse: separate;
  text-align: center;
  font-size: 12px;
  border: 1px solid purple;
}
.doc-table-title {
  color: purple;
  font-weight: bold; 
  background: #c68cc6;
  /*#800080,#922492,#A448A4,#B66DB6,#C891C8,#DAB6DA,#ECDAEC*/
}
.doc-table-title th{
  border: 1px solid purple;
}
.doc-table-body{
  color: black; 
}
.doc-table-body td{
  border-left: 1px solid purple;
  border-right: 1px solid purple;
  height: 22px;
}
.doc-table tr:nth-child(even){
  background: #ECDAEC;
}



</style>

<div class="full-width toolbar"> 
  
  <div> PORTIC LOGO </div>
  <div> <b>Usuario:</b> {{user}}</div>
  <div> <b>Empresa:</b> {{company}}</div>
  <div> <b>Inicio Sesión:</b>{{session_init}}</div>

  <div style="display: flex; justify-content: space-between">

    <button mat-button (click)="onClickMe()" class="toolbar-button">
      <fa-icon [icon]="faExclamation" (click)="onClickMe()"></fa-icon>
    </button>    
    <button mat-button (click)="onClickMe()" class="toolbar-button">
      <fa-icon [icon]="faWrench" (click)="onClickMe()"></fa-icon>
    </button>
    <button mat-button (click)="openDialog()" class="toolbar-button">
      <fa-icon [icon]="faGraduationCap" (click)="onClickMe()"></fa-icon>
    </button>

  </div>
</div>

<div style="padding: 10px">

  <div class="full-width" style="display: flex">
    <div class="main-menu-container-button">
      <a mat-stroked-button routerLink="." class="main-menu-button">Lista de Documentos</a>
    </div>
    <div class="main-menu-container-button">
      <a mat-stroked-button routerLink="." class="main-menu-button">Nueva Lista de Carga</a>
    </div>
    
    <div class="main-menu-container-button">
      <a mat-stroked-button routerLink="." class="main-menu-button">Nueva Lista de Descarga</a>
    </div>

    <div class="main-menu-container-button" style="border: 0px">
      <a mat-stroked-button routerLink="." class="main-menu-button">Preferencias</a>
    </div>

     
  </div>


  <div class="full-width" style="height: 150px; background-color: blue; display: flex; align-items: center">
  
    <div ngbDropdown class="filter-tool d-inline-block" style="width: 150px">
      <button class="filter-tool btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Action - 1</button>
        <button ngbDropdownItem>Another Action</button>
        <button ngbDropdownItem>Something else is here</button>
      </div>
    </div>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    <div>--</div>
    <div ngbDropdown class="filter-tool d-inline-block" style="width: 150px">
      <button class="filter-tool btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Action - 1</button>
        <button ngbDropdownItem>Another Action</button>
        <button ngbDropdownItem>Something else is here</button>
      </div>
    </div>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">


  </div>

  <div class="full-width" style="height: 3em; background-color: blue;">
    Here add tools to interact with elements
  </div>


  <div class="full-width">
      <table class="doc-table full-width">
        <tr class="doc-table-title">
          <th *ngFor="let header of table_header">{{header}}</th>
        </tr>
        <tr *ngFor="let data of table_data" class="doc-table-body">
            <td>{{data.ship}}</td>
            <td>{{data.arrival}}</td>
            <td>{{data.departure}}</td>
            <td>{{data.doc_type}}</td>
            <td>{{data.cargo_type}}</td>
            <td>{{data.emiter}}</td>
            <td>{{data.receiver}}</td>
            <td>{{data.status}}</td>
            <td>{{data.date}}</td>
            <td>{{data.id}}</td>
            <td>{{data.version}}</td>
            <td>{{data.user}}</td>
            <td>{{data.receipt_status}}</td>
        </tr>
      </table>
  </div>

</div>


