<portic-base>

  <div class="w-100 mt-3 p-3 filtering">
      <div class="row">
          <div class="col">
            <select class="form-control">
                <option *ngFor="let filter_type of filter_type_list">{{filter_type}}</option>
            </select>
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="">
          </div>
          <div class="col">
              <select class="form-control">
                <option *ngFor="let filter_type of filter_type_list">{{filter_type}}</option>
              </select>
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="">
          </div>
  
          <div class="col container">
            <label for="exampleFormControlSelect1">Circuito</label>
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
  
          <div class="col container">
              <label for="exampleFormControlSelect1">Estado</label>
              <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="col container">
                <label for="exampleFormControlSelect1">Desde</label>
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            <div class="col container">
              <button type="button" class="btn">Buscar</button>
            </div>
      </div>  
  
  
    </div>

  <div class="doc-tool w-100 mt-3">
    <button type="button" class="btn disabled">DUAs</button>
    <button type="button" class="btn">Fusionar</button>
    <button type="button" class="btn">Imprimir</button>
    <button type="button" class="btn">Historico</button>
    <button type="button" class="btn">Editar</button>
    <button type="button" class="btn">Eliminar</button>
    <button type="button" class="btn">Ver</button>
    <button type="button" class="btn">Enviar</button>
    <button type="button" class="btn">Enviar a resguardo</button>
  </div>


  <div class="w-100 mt-3 doc-list">
      <table class="w-100 doc-table">
        <tr class="title">
          <th *ngFor="let header of table_header">{{header}}</th>
        </tr>
        <tr *ngFor="let data of table_data" class="body">
            <td>{{data.ship}}</td>
            <td>{{data.arrival}}</td>
            <td>{{data.departure}}</td>
            <td>{{data.doc_type}}</td>
            <td>{{data.cargo_type}}</td>
            <td>{{data.emiter}}</td>
            <td>{{data.receiver}}</td>
            <td>{{data.status}}</td>
            <td>{{data.date}}</td>
            <td>{{data.id}}</td>
            <td>{{data.version}}</td>
            <td>{{data.user}}</td>
            <td>{{data.receipt_status}}</td>
        </tr>
      </table>
  </div>

</portic-base>

