<style>


/* Toolbar */
.toolbar {
  height: 3em; 
  background-color:purple; 
  display:flex; 
  color: white; 
  align-items: center;
  justify-content: space-between
}
.toolbar-button:hover {
  border: 1px solid grey;
}

/* Main Menu */
.main-menu-button {
  margin-right: 5px; 
  border: 0px;
  color: purple;
}
.main-menu-button:hover {
  background: #ECDAEC;
}
.main-menu-container-button{
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid purple;
}

/* Filtering */
.filtering-btn{
  border: 0px; 
  border-radius: 5px; 
  color: white;
  padding: 0.7em 1em 0.7em 1em;
  background: purple;
  font-weight: 500;
  outline: none;
  box-shadow: none;    
}

.filtering-btn:hover{
  background: #922492;
}

.filtering-btn:active{
  background: #6D006D;
}

/* Tool */
.doc-tool-btn{
  border: 0px; 
  border-radius: 5px; 
  color: purple;
  padding: 0.7em 1em 0.7em 1em;
  outline: none;
  box-shadow: none;  
  font-weight: 500; 
}

.doc-tool-btn:hover{
  background: #ECDAEC;
}
.doc-tool-btn:active{
  color: white;
  background: #A978A9;
}
.doc-tool-btn-disabled, .doc-tool-btn-disabled:hover{
  color: grey;
  background: transparent;
  cursor: initial;
}


/* Table */
.doc-table {
  border-spacing: 0;
  border-collapse: separate;
  text-align: center;
  font-size: 12px;
  border: 1px solid purple;
}
.doc-table-title {
  color: purple;
  font-weight: bold; 
  background: #c68cc6;
  /*#800080,#922492,#A448A4,#B66DB6,#C891C8,#DAB6DA,#ECDAEC*/
}
.doc-table-title th{
  border: 1px solid purple;
}
.doc-table-body{
  color: black; 
}
.doc-table-body td{
  border-left: 1px solid purple;
  border-right: 1px solid purple;
  height: 22px;
}
.doc-table tr:nth-child(even){
  background: #ECDAEC;
}



</style>

<div class="w-100 toolbar"> 
  
  <div> PORTIC LOGO </div>
  <div> <b>Usuario:</b> {{user}}</div>
  <div> <b>Empresa:</b> {{company}}</div>
  <div> <b>Inicio Sesión:</b>{{session_init}}</div>

  <div style="display: flex; justify-content: space-between">

    <button mat-button (click)="onClickMe()" class="toolbar-button">
      <fa-icon [icon]="faExclamation" (click)="onClickMe()"></fa-icon>
    </button>    
    <button mat-button (click)="onClickMe()" class="toolbar-button">
      <fa-icon [icon]="faWrench" (click)="onClickMe()"></fa-icon>
    </button>
    <button mat-button (click)="openDialog()" class="toolbar-button">
      <fa-icon [icon]="faGraduationCap" (click)="onClickMe()"></fa-icon>
    </button>

  </div>
</div>

<div style="padding: 10px">

  <div class="w-100 mt-3" style="display: flex">
    <div class="main-menu-container-button">
      <a mat-stroked-button routerLink="." class="main-menu-button">Lista de Documentos</a>
    </div>
    <div class="main-menu-container-button">
      <a mat-stroked-button routerLink="." class="main-menu-button">Nueva Lista de Carga</a>
    </div>
    
    <div class="main-menu-container-button">
      <a mat-stroked-button routerLink="." class="main-menu-button">Nueva Lista de Descarga</a>
    </div>

    <div class="main-menu-container-button" style="border: 0px">
      <a mat-stroked-button routerLink="." class="main-menu-button">Preferencias</a>
    </div>
  </div>


  <div class="w-100 mt-3" style="padding: 1em; background: #c68cc6; display: flex; align-items: center">
    <div class="row">
        <div class="col">
          <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
          </select>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>

    
        <div class="col">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="col" style="display: flex; align-content: center">
          <label for="exampleFormControlSelect1">Circuito</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="col" style="display: flex; align-content: center">
            <label for="exampleFormControlSelect1">Estado</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="col" style="display: flex; align-content: center">
              <label for="exampleFormControlSelect1">Desde</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          <div class="col" style="display: flex; align-content: center">
            <button type="button" class="filtering-btn">Buscar</button>
          </div>
    </div>  


  </div>

  <div class="w-100 mt-3" style="border: 1px solid purple; padding: 1em; display: flex; justify-content: space-between">
      <button type="button" class="doc-tool-btn doc-tool-btn-disabled">DUAs</button>
      <button type="button" class="doc-tool-btn">Fusionar</button>
      <button type="button" class="doc-tool-btn">Imprimir</button>
      <button type="button" class="doc-tool-btn">Historico</button>
      <button type="button" class="doc-tool-btn">Editar</button>
      <button type="button" class="doc-tool-btn">Eliminar</button>
      <button type="button" class="doc-tool-btn">Ver</button>
      <button type="button" class="doc-tool-btn">Enviar</button>
      <button type="button" class="doc-tool-btn">Enviar a resguardo</button>

  </div>


  <div class="w-100 mt-3">
      <table class="doc-table w-100">
        <tr class="doc-table-title">
          <th *ngFor="let header of table_header">{{header}}</th>
        </tr>
        <tr *ngFor="let data of table_data" class="doc-table-body">
            <td>{{data.ship}}</td>
            <td>{{data.arrival}}</td>
            <td>{{data.departure}}</td>
            <td>{{data.doc_type}}</td>
            <td>{{data.cargo_type}}</td>
            <td>{{data.emiter}}</td>
            <td>{{data.receiver}}</td>
            <td>{{data.status}}</td>
            <td>{{data.date}}</td>
            <td>{{data.id}}</td>
            <td>{{data.version}}</td>
            <td>{{data.user}}</td>
            <td>{{data.receipt_status}}</td>
        </tr>
      </table>
  </div>

</div>


