/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.portic-bold{
  font-weight: 500;
}
@mixin portic-bold-mixin {
  font-weight: 500;
}

@mixin portic-btn {
  font-size: 0.8rem;
  border: 0px; 
  border-radius: 5px; 
  color: $btn-font;
  padding: 0.7em 1em 0.7em 1em;
  background: $btn-background;
  @include portic-bold-mixin;
  outline: none;
  box-shadow: none;    
  &:hover{
    background: $btn-hover;  
  }
  &:active{
    background: $btn-active;
  }
}

@mixin portic-tab {
  // background: yellow;
  color: $font-color;
  @include portic-bold-mixin;
  .content{
    height: 70vh;
    border: 1px solid $border;
    border-top-width: 0px;
    background-color: $tab-background;
  }

  .nav-tabs{
    border-color: white white $border white;
  }

  .nav-link.active {
    color: $font-color;
    border-color: $border $border white;
    background: $tab-background;
  }
  .nav-link{
    color: $font-color;
    &:hover{
      color: $font-color;
      border-color: $border $border white $border;
      background: $tab-background;
    }
  }
}