/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.portic-bold{
  font-weight: 500;
}
@mixin portic-bold-mixin {
  font-weight: 500;
}

@mixin portic-btn {
  font-size: 0.8rem;
  border: 0px; 
  border-radius: 5px; 
  color: $btn-font;
  padding: 0.7em 1em 0.7em 1em;
  background: $btn-background;
  @include portic-bold-mixin;
  outline: none;
  box-shadow: none;    
  &:hover{
    background: $btn-hover;  
  }
  &:active{
    background: $btn-active;
  }
}