/* Toolbar */
.toolbar {
  height: 3em; 
  background-color:purple; 
  display:flex; 
  color: white; 
  align-items: center;
  justify-content: space-between
}
.toolbar-button:hover {
  border: 1px solid grey;
}

/* Main Menu */
.main-menu{
  .tool-set{
    display: flex;
    .button {
      font-size: 1rem;
      width: 90% !important;
      min-width: unset!important;
      margin-right: 5px; 
      border: 0px;
      color: purple;
      &:hover{
        background: #ECDAEC;
      }
    }
    .container{
      padding-left: 10px;
      padding-right: 10px;
      border-right: 1px solid purple;
      text-align: center;
    }
    .no-border{
      border: 0px;
    }
  }
}

.content {
  padding: 0; 
  // background: #DCDCDC; 
  min-height: 200px;
}

