<div class="w-100 toolbar"> 
  
  <div> PORTIC LOGO </div>
  <div> <span class="portic-bold">Usuario:</span> {{user}}</div>
  <div> <span class="portic-bold">Empresa:</span> {{company}}</div>
  <div> <span class="portic-bold">Inicio Sesión:</span>{{session_init}}</div>

  <div style="display: flex; justify-content: space-between">

    <button mat-button (click)="onClickMe()" class="toolbar-button">
      <fa-icon [icon]="faExclamation" (click)="onClickMe()"></fa-icon>
    </button>    
    <button mat-button (click)="onClickMe()" class="toolbar-button">
      <fa-icon [icon]="faWrench" (click)="onClickMe()"></fa-icon>
    </button>
    <button mat-button (click)="openDialog()" class="toolbar-button">
      <fa-icon [icon]="faGraduationCap" (click)="onClickMe()"></fa-icon>
    </button>

  </div>
</div>

<div class="container-fluid main-menu">

  <div class="w-100 mt-3 tool-set">
    <div class="container">
      <a mat-stroked-button routerLink="/document/list" class="button">Lista de Documentos</a>
    </div>
    <div class="container">
      <a mat-stroked-button routerLink="/carga" class="button">Nueva Lista de Carga</a>
    </div>
    
    <div class="container">
      <a mat-stroked-button routerLink="/descarga" class="button">Nueva Lista de Descarga</a>
    </div>

    <div class="container no-border">
      <a mat-stroked-button routerLink="/preferencias" class="button">Preferencias</a>
    </div>
  </div>

  <div class="container-fluid mt-3 content">
    <ng-content></ng-content>
  </div>
 
</div>


