@import "styles";
@import "variables";

/* Table */
.w-40{
  width: 40%;
}

.tools {
  padding: 2em; 
  padding-top: 100px;
  width: 10%; 
  height: 75%; 
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  .btn {
    @include portic-btn
  }
}

.search{
  height: 40px;
  .btn {
    @include portic-btn
  }
}